* {
   box-sizing: border-box;
}

input {
   appearance: none;
   border: none;
   outline: none;
   background-color: transparent;
}

.menu {
   padding: 20px;
}

.menu__button {
   width: 100px;
   height: 30px;
}

.menu__modal {
   position: fixed;
   top: 0px;
   right: 0px;
}

.modal {
   display: none;
   width: 100vw;
   height: 100vh;
   background-color: rgba(128, 128, 128, 0.6);
   z-index: 1000;
   overflow-y: auto;
}

.modal__popup {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.popup {
   width: 550px;
   border-radius: 5px;
   background-color: white;
   box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
}

.popup__content {
   height: 100%;
   padding: 20px;
}

.popup__header {
   margin-bottom: 10px;
}

.popup__title {
   font-size: 16px;
   font-weight: 700;
   text-align: center;
}

.popup__body {
   /* display: flex;
   flex-direction: column;
   gap: 5px; */
   max-height: 300px;
   margin-bottom: 5px;
   overflow-y: auto;
}

.popup__input {
   display: block;
   width: 100%;
   border: 1px solid #bfbebe;
   border-radius: 2px;
   padding: 5px;
   margin-bottom: 2px;
}

.popup__button {
   width: 85px;
   height: 30px;
}

.popup__plus {
   align-self: flex-start;
}

.popup__footer {
   text-align: center;
   padding-top: 20px;
}
